<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Weather Api</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
    body {
        background-image: url("public/bg_cloud.jpg");
    /* background-color: lightblue; */
}
    #main{  
       width: 50%;
       height: 50%;
    }

    .jumbotron{
        text-align: center;
        background-color: darkturquoise;
    }
    textp{
       background-color: darkviolet;
    }
    
h3{
    text-decoration-style: dotted;
    text-align: center;
}

</style>